body {
  margin: 0;
}

body, button, input {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16pt;
}

#video-container, video {
  position: absolute; 
  width: 100%; 
  height: 100%; 
  z-index: 1;
}

#video-container {
  background-color: gray;
}

canvas {
  position: absolute; 
  z-index: 2;
}

button.command {
  position: absolute;
  width: 36px;
  height: 36px;
  border: 0;
  background-color: unset;
  background-size: 100%;
  z-index: 3;
}

button.response {
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #40a080;
  font-weight: bold;
  padding: 0px 12px 4px 12px;
  margin-top: 15px;
  margin-right: 10px;
}

#lm-create {
  left: 14px;
  top: 14px;
  background-image: url('../button/square-plus.svg');
}

#lm-show-list {
  left: 14px;
  top: 64px;
  background-image: url('../button/list.svg');
}

#settings {
  left: 14px;
  top: 114px;
  background-image: url('../button/settings.svg');
  display: none;
}

.lm-title {
  font-weight: bold;
  margin-bottom: 10px;
}

dialog {
  border: none;
  border-radius: 6px;
  background-color: #60f0c0
}

dialog::backdrop {
  background-color: #00000080;
  backdrop-filter: blur(5px);
}

#lm-edit-modal label {
  display: block;
  margin-bottom: 2px;
  font-size: 14pt;
}

#lm-edit-modal input {
  width: 9em;
  border: none;
  border-radius: 3px;
  padding: 4px 10px 4px 10px;
}

#lm-edit-modal input:invalid + span::after {
  content: "✖";
  padding-left: 5px;
  color: red;
}

#lm-edit-modal input:valid + span::after {
  content: "✓";
  padding-left: 5px;
  color: #006030;
}

#lm-edit-modal div, #lm-remove-modal div {
  margin-bottom: 8px;
}

#lm-list-container {
  width: 300px;
  height: 300px;
  background-color: white;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

#lm-list-container div {
  margin-bottom: 4px;
}

#lm-list-container span {
  display: inline-block;
  width: 9em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 6px;
}

#lm-list-container button {
  width: 24px;
  height: 24px;
  border: 0;
  background-color: unset;
  background-size: 100%;
  margin-right: 10px;
}

#lm-list-container span, #lm-list-container button {
  vertical-align: middle;
}

button.visibility.visible {
  background-image: url('../button/eye.svg');
}

button.visibility.hidden {
  background-image: url('../button/eye-off.svg');
}

button.edit {
  background-image: url('../button/pencil.svg');
}

button.remove {
  background-image: url('../button/trash-2.svg');
}

#init {
  position: absolute; 
  box-sizing: border-box;
  width: 100%; 
  height: 100%; 
  padding: 20px;
  z-index: 4;
  color: white;
  background-color: #00000080;
  backdrop-filter: blur(5px);
  text-align: center;
  display: none;
}
